@import "tailwindcss";

.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url(./assets//heromainImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Set opacity */
  opacity: 1; /* Adjust opacity value as needed (0.0 to 1.0) */
  background-blend-mode: multiply;
  position: relative;

}



